* {
  font-family: 'ubuntu';
}
#root,
body,
html {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 3.3px;
}

::-webkit-scrollbar-track {
  /* background: #222222; */
  background: rgb(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #565555;
}

/* color item */
.colors {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.color-item {
  cursor: pointer;
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
  transition: all 100ms ease-in-out;
  border-radius: 3px;
  background-color: #fff;
  color: #565555;

  -webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.75);
  vertical-align: center;
}

.color-item:hover {
  background-color: whitesmoke;
}

.color-box {
  width: 30px;
  height: 100%;
  border-radius: 3px 0 0 3px;
}

.color-title {
  color: #565555;
  width: 100%;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}

/* loading */
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* form */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
[type='text'].form-control:focus,
[type='password'].form-control:focus,
[type='email'].form-control:focus,
[type='tel'].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
  border-color: gray;
}

.strong {
  font-weight: bolder;
}
